<p>Dear {{username}},</p>
<p>You just sign up for Siemens Production Document System. Your username is {{username}}. Click <a href="http://{{host}}/user/login">here</a> to start.</p>
<br/>
<p>If the link doesn't connect properly, copy and paste the URL to a new browser window to access the login page:<p>
<p>http://{{host}}/user/login</p>
<br/>
<p>If you have any questions please contact the Siemens Production Document System.</p>
<br/>
<p>Regards,</p>
<p>Siemens Production Document System</p>
<p>Siemens_SPDS@163.com</p>